{% extends 'base.html' %}
{% load static %}

{% block title %}Destination Recommendations - Nepal Guide{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/destinations.css' %}">
{% endblock %}

{% block content %}
<div class="nta-main">
  <h1>Travel Packages and Deals</h1>
  <p class="subtitle">Explore curated travel packages tailored to your preferences and budget</p>


  <section class="filter-section">
    <div class="new-container">
      <h2>Filter Destinations</h2>
      <p>Customize your search based on interests and budget</p>
    </div>
    <br>

    <form method="GET" action="{% url 'destinations' %}">
      <div class="filters">
        <div class="interests">
          <label><input type="radio" name="category" value="Adventure" required> Adventure</label>
          <label><input type="radio" name="category" value="Religious"> Religious</label>
          <label><input type="radio" name="category" value="Cultural"> Cultural</label>
          <label><input type="radio" name="category" value="Wildlife"> Wildlife</label>
          <label><input type="radio" name="category" value="Nature"> Nature</label>
          <label><input type="radio" name="category" value="Relaxation"> Relaxation</label>
        </div>

        <div class="budget">
          <div>
            <label>Minimum Budget (NPR)</label>
            <input type="number" name="min_budget" placeholder="0" required>
          </div>
          <div>
            <label>Maximum Budget (NPR)</label>
            <input type="number" name="max_budget" placeholder="200000" required>
          </div>
        </div>

        <button type="submit" class="apply-btn">Apply Filters</button>
      </div>
    </form>
  </section>


  <section class="cards-section">
    {% if recommendations %}
      {% for place in recommendations %}
        <div class="card">
          <img src="{% static 'images/default.avif' %}" alt="{{ place.city }}">
          <div class="card-content">
            <h3>{{ place.city }}</h3>
            <div class="tags">{{ place.category }}</div>
            <div class="meta">
              <span><i class="fa-regular fa-clock"></i> Flexible Stay</span>
              <span class="price">NPR {{ place.estimated_cost }}</span>
            </div>
            <div class="bottom">
              <button><i class="fa-solid fa-location-dot"></i> Add to Itinerary</button>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No recommendations yet. Please apply filters above 👆</p>
    {% endif %}
  </section>
</div>

<div class="footer">
  <p>© 2025 Nepal Travel Assistant</p>
</div>
{% endblock %}
