
/* Footer */
.footer {
  background: #29563C;
  color: white;
  padding: 3rem 0 1rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
  margin-left: 25px;
}

.footer-section h3 {
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.footer-section h4 {
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-section p{
  color: white;
}

.footer-section a:hover {
  color: #d2b48c;
}

.contact-info p {
  margin-bottom: 0.5rem;
  color: white;
}

.footer-bottom {
  border-top: 1px solid #29563C;;
  padding-top: 1rem;
  text-align: center;
  color: #ffffff;
}

.footer-bottom p{
  color: white;
}

.footer .contact-info p{
  color: white;
}